@page
@model ULAPP.Pages.PoemModel
@{
	string link = "collapseSection";
	int index = 1;
}

<div class="card">
	<h5 class="card-header" style="font-family:Courier New, Courier, monospace">@Model.ElementName</h5>
	<div class="card-body">
		<h3 class="card-title"><b>@Model.Title</b></h3>
		<div class="card-text">
			@foreach (var line in Model.Lines)
			{
				var linkText = link + index;
				<p><a data-toggle="collapse" href="#@linkText" style="font-family:Courier New, Courier, monospace; font-size:larger">@line.Line</a></p>
				<div class="collapse" id="@linkText">
					<div class="card card-body">
						@line.Description
					</div>
				</div>
				index += 1;
			}
		</div>
		<a href="/" class="btn btn-primary">Go back</a>
	</div>
</div>
